<div class="flex flex-col gap-12 relative">
  <div>
    <p class="text-2xl">💁 Minithings Showcase</p>
  </div>

  <div class="flex flex-col gap-2">
    <p class="text-xl">💪 Block</p>
    <div>
      <ngx-minithings-block class="w-screen text-center">
        <ng-template>
          <div class="overflow-y-scroll">
            Block Content
            <br>
            <br>
            Technically this is the most used parent construction unit.
          </div>
        </ng-template>
      </ngx-minithings-block>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <p class="text-xl">⚠️ Alert + ⌨️ Input</p>
    <div class="flex flex-col justify-center items-center gap-4">
      <div class="flex flex-col gap-2 items-end">
        <div class="flex flex-row gap-2">
          <label>Level</label>
          <ngx-minithings-datalist
            [options]="levelOptions"
            [isFormRequired]="false"
            (select)="onInputValue('level', $event)"
          />
        </div>
        <div class="flex flex-row gap-2">
          <label>Message</label>
          <ngx-minithings-input
            [type]="InputType.Text"
            localizedName="Message"
            [isFormRequired]="false"
            (inputValue)="onInputValue('message', $event)"
          />
        </div>
        <div class="flex flex-row gap-2">
          <label>Living Time</label>
          <ngx-minithings-input
            [type]="InputType.Number"
            localizedName="Living Time"
            [min]="1"
            [max]="99"
            [placeholder]="5"
            [isFormRequired]="false"
            (inputValue)="onInputValue('livingTime', $event)"
          />
        </div>
      </div>
      <ngx-minithings-button (click)="spawnAlert(level, message)">
        Spawn Alert
      </ngx-minithings-button>
      <ngx-minithings-alert-stack
        class="fixed bottom-10 z-50"
        [alertLivingTime]="livingTime"
      />
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <p class="text-xl">⌨ Angular Material Input</p>


    <ngx-minithings-block class="w-screen text-center" extraClass="flex flex-col gap-2">
      <ng-template>
        <form
          class="flex flex-col gap-4"
          [formGroup]="appForm"
          (ngSubmit)="sendAppForm()"
        >
          <ngx-minithings-mat-input
            formControlName="text"
            [type]="InputType.Text"
            [placeholder]="'Ваш текст'"
            (inputValue)="Console.log($event)"
          />

          <!-- Пример формы с валидатором required -->
          <ngx-minithings-mat-input
            formControlName="password"
            [type]="InputType.Password"
            [placeholder]="'Ваш пароль'"
            (inputValue)="Console.log($event)"
          />

          <!-- Пример формы с валидатором required и
               выключенным отображением ошибок -->
          <ngx-minithings-mat-input
            formControlName="search"
            [type]="InputType.Search"
            [placeholder]="'Ваш поиск'"
            [showErrors]="false"
            (inputValue)="Console.log($event)"
          />

          <!-- Пример формы с валидатором minLength(10) -->
          <ngx-minithings-mat-input
            formControlName="url"
            [type]="InputType.URL"
            [placeholder]="'Ваш url'"
            (inputValue)="Console.log($event)"
          />

          <!-- Пример формы с автозаполнением -->
          <ngx-minithings-mat-input
            formControlName="tel"
            [type]="InputType.Tel"
            [placeholder]="'Ваш телефон'"
            [fillingOptions]=
              "[
                '+7(777)7777-77-77', '+7(777)7777-77-75',
                '+7(777)7777-77-74', '+7(777)7777-77-73',
                '+7(777)7777-77-87', '+7(777)7777-77-25',
                '+7(777)7777-77-11', '+7(777)7777-77-00'
              ]"
            [autocompleteRequired]="true"
            (inputValue)="Console.log($event)"
          />

          <!-- Пример формы с валидатором email и
               кастомным сообщением об ошибке -->
          <ngx-minithings-mat-input
            formControlName="email"
            [type]="InputType.Email"
            [placeholder]="'Ваша почта'"
            [customErrorMessages]="customErrorMessages"
            (inputValue)="Console.log($event)"
          />

          <!-- Пример формы с валидатором max(10) -->
          <ngx-minithings-mat-input
            formControlName="number"
            [type]="InputType.Number"
            [placeholder]="'Ваше число'"
            (inputValue)="Console.log($event)"
          />

          <!-- Пример формы с валидатором required
               и расширяющимся по высоте текстовым полем -->
          <ngx-minithings-mat-input
            formControlName="textarea"
            [type]="InputType.TextArea"
            [placeholder]="'Ваш развёрнутый текст'"
            (inputValue)="Console.log($event)"
          />

          <!-- Пример формы с валидатором required
               и выбором одного из предложенных вариантов из списка -->
          <ngx-minithings-mat-input
            formControlName="select"
            [type]="InputType.Select"
            [fillingOptions]=
              "[
                'Саратов', 'Москва', 'Санкт-Петербург',
                'Воронеж', 'Самара', 'Екатеринбург',
                'Омск', 'Курск', 'Хабаровск', 'Чита', 'Норильск'
              ]"
            [placeholder]="'Ваш выбор из списка'"
            (inputValue)="Console.log($event)"
          />

          <!-- Пример формы с валидатором required
               и выбором даты -->
          <ngx-minithings-mat-input
            formControlName="date"
            [type]="InputType.Date"
            [placeholder]="'Ваша дата'"
            (inputValue)="Console.log($event)"
          />

          <!-- Пример формы с валидатором required
               и выбором календарного отрезка -->
          <ngx-minithings-mat-input
            formControlName="daterange"
            [type]="InputType.DateRange"
            [placeholder]="'Ваш календарный\nотрезок'"
            (inputValue)="Console.log($event)"
          />

          <!-- Пример формы с валидатором required
               и выбором времени -->
          <ngx-minithings-mat-input
            formControlName="time"
            [type]="InputType.Time"
            [placeholder]="'Ваше время'"
            (inputValue)="Console.log($event)"
          />

          <ngx-minithings-mat-input
            formControlName="check"
            [type]="InputType.Check"
            [placeholder]="'Ваша проверка'"
            (inputValue)="Console.log($event)"
          />

          <!-- Пример формы с валидатором required
               и выбором одного варианта из предложенных -->
          <ngx-minithings-mat-input
            formControlName="radiolist"
            [type]="InputType.RadioList"
            [fillingOptions]="['Саратов', 'Москва', 'Санкт-Петербург']"
            [placeholder]="'Ваш единичный выбор'"
            (inputValue)="Console.log($event)"
          />

          <!-- Пример формы с валидатором required
               и выбором подходящих вариантов из предложенных -->
          <ngx-minithings-mat-input
            formControlName="checklist"
            [type]="InputType.CheckList"
            [fillingOptions]="['Саратов', 'Москва', 'Санкт-Петербург']"
            [placeholder]="'Ваш множественный выбор'"
            (inputValue)="Console.log($event)"
          />

          <ngx-minithings-button
            type="submit"
            i18n
          >
            Отправить
          </ngx-minithings-button>
        </form>
      </ng-template>
    </ngx-minithings-block>

  </div>


  <div class="flex flex-col gap-2">
    <p class="text-xl">🔎 Pagination</p>
    <p>Доступны отделы IT и Кухня, а также количество страниц: 10, 20 и 200.</p>
    <div class="max-h-[30vh]">
      <ngx-minithings-pagination
        class="w-screen text-center"
        [paginationItems]="paginationItems"
        [paginationFilters]="paginationFilters"
        [config]="paginationConfig"
        [customColumnSortingFunctions]="customColumnSortingFunctions"
      />
    </div>
  </div>

  <ngx-minithings-keyboard/>
</div>
