<div class="h-screen flex flex-col gap-6 relative">
  <div>
    <p class="text-2xl">💁 Minithings Showcase</p>
  </div>

  <div class="flex flex-col gap-2">
    <p class="text-xl">💪 Block</p>
    <div>
      <ngx-minithings-block class="w-screen text-center">
        <ng-template>
          <div class="overflow-y-scroll">
            Block Content
            <br>
            <br>
            Technically this is the most used parent construction unit.
          </div>
        </ng-template>
      </ngx-minithings-block>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <p class="text-xl">⚠️ Alert + ⌨️ Input</p>
    <div class="flex flex-col justify-center items-center gap-4">
      <div class="flex flex-col gap-2 items-end">
        <div class="flex flex-row gap-2">
          <label>Level</label>
          <ngx-minithings-datalist
            [options]="levelOptions"
            [isFormRequired]="false"
            (select)="onInputValue('level', $event)"
          />
        </div>
        <div class="flex flex-row gap-2">
          <label>Message</label>
          <ngx-minithings-input
            [type]="InputType.Text"
            localizedName="Message"
            [isFormRequired]="false"
            (inputValue)="onInputValue('message', $event)"
          />
        </div>
        <div class="flex flex-row gap-2">
          <label>Living Time</label>
          <ngx-minithings-input
            [type]="InputType.Number"
            localizedName="Living Time"
            [min]="1"
            [max]="99"
            [placeholder]="5"
            [isFormRequired]="false"
            (inputValue)="onInputValue('livingTime', $event)"
          />
        </div>
      </div>
      <ngx-minithings-button (click)="spawnAlert(level, message)">
        Spawn Alert
      </ngx-minithings-button>
      <ngx-minithings-alert-stack
        [alertLivingTime]="livingTime"
      />
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <p class="text-xl">🔎 Pagination</p>
    <p>Доступны отделы IT и Кухня, а также количество страниц: 10, 20 и 200.</p>
    <div>
      <ngx-minithings-pagination
        class="w-screen text-center"
        [paginationItems]="paginationItems"
        [paginationFilters]="paginationFilters"
        [config]="paginationConfig"
      />
    </div>
  </div>

  <ngx-minithings-keyboard/>
</div>
