<div class="flex flex-col gap-6">
  <div>
    <p class="text-2xl">💁 Minithings Showcase</p>
  </div>

  <div class="flex flex-col gap-2">
    <p class="text-xl">💪 Block</p>
    <div>
      <ngx-minithings-block class="w-screen text-center">
        <ng-template>
          <div class="overflow-y-scroll">
            Block Content
            <br>
            <br>
            Technically this is the most used parent construction unit.
          </div>
        </ng-template>
      </ngx-minithings-block>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <p class="text-xl">⚠️ Alert + ⌨️ Input</p>
    <div class="flex flex-col justify-center items-center gap-4">
      <div class="flex flex-col gap-2 items-end">
        <div class="flex flex-row gap-2">
          <label>Level</label>
          <ngx-minithings-datalist
            [options]="levelOptions"
            [isFormRequired]="false"
            (select)="onInputValue('level', $event)"
          />
        </div>
        <div class="flex flex-row gap-2">
          <label>Message</label>
          <ngx-minithings-input
            [type]="InputType.Text"
            [isFormRequired]="false"
            (inputValue)="onInputValue('message', $event)"
          />
        </div>
        <div class="flex flex-row gap-2">
          <label>Living Time</label>
          <ngx-minithings-input
            [type]="InputType.Number"
            [min]="1"
            [max]="99"
            [placeholder]="5"
            [isFormRequired]="false"
            (inputValue)="onInputValue('livingTime', $event)"
          />
        </div>
      </div>
      <ngx-minithings-button (click)="spawnAlert(level, message)">
        Spawn Alert
      </ngx-minithings-button>
      <ngx-minithings-alert-stack
        [alertLivingTime]="livingTime"
      />
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <p class="text-xl">🔎 Pagination</p>
    <p>Доступны отделы IT и Кухня, а также количество страниц: 10, 20 и 200.</p>
    <div>
      <ngx-minithings-pagination
        class="w-screen text-center"
        [paginationItems]="paginationItems"
        [paginationFilters]="paginationFilters"
      />
    </div>
  </div>

  <!--
  <div class="w-full
              justify-between
              pb-3
              overflow-x-scroll
              flex-wrap
              justify-start
              px-3
              bg-c10
              rounded-l
              cursor-default
              px-1.5
              bg-c60
              rounded-r
              cursor-pointer
              mb-1
              text-left
              px-2
              mb-2
              w-40
              h-40
              block
              m-1
              mx-2
              text-center
              mt-2
              fst-italic
              justify-between
              items-center"
  >
  </div>-->

</div>
